body {
    background-color: #fff;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

i,
b {
    font-style: normal;
}

.header {
    background-color: #006699;
}

.header h1 {
    color: #fff;
}

.header a {
    color: #fff;
}

.footer {
    background-color: #006699;
}

.footer .mui-tab-item {
    color: #fff;
}

.footer .mui-tab-item.mui-active {
    color: darkorange;
}

.content {
    background-color: #fff;
}