.content-nav {
  padding: 10px;
}
.content-nav ul {
  width: 100%;
  overflow: hidden;
}
.content-nav ul li {
  float: left;
  width: 33.33%;
}
.content-nav ul img {
  display: block;
  width: 100%;
}
.brand {
  padding: 0 10px;
}
.brand img {
  display: block;
  width: 100%;
}
.brand ul {
  overflow: hidden;
}
.brand ul li {
  float: left;
  width: 25%;
}
.product {
  margin-top: 5px;
  padding: 0 10px 10px 10px;
}
.product img {
  width: 100%;
}
.product ul {
  overflow: hidden;
}
.product p {
  text-align: center;
  margin-bottom: 0;
}
.product li {
  width: 50%;
  float: left;
  padding: 5px;
}
.product li a {
  display: block;
  padding: 5px;
  box-shadow: 0 0 5px #ccc;
}
.product li img {
  display: block;
}
.product li span {
  display: block;
  color: #8f8f94;
  text-align: center;
  font-size: 14px;
}
.product li i {
  display: inline-block;
  color: #f30;
  font-size: 12px;
  margin-right: 2px;
}
.product li b {
  display: inline-block;
  color: #ccc;
  font-size: 12px;
  text-decoration: line-through;
}
.product li .buy {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 30px;
  padding: 5px;
  text-align: center;
  color: #fff;
  background-color: #006699;
}
